<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta name="author" content="Mahmoud Mheisen" />
    <meta name="description" content="FCC Course 5 Project 1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- CSS Links -->
    <link type="text/css" rel="stylesheet" href="style.css" />

    <!-- Title -->
    <title>Timestamp Microservice</title>

    <!-- Icon -->
    <link
      type="image/x-icon"
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
    />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <strong>Timestamp Microservice</strong>
      is a NodeJS API that allow the client to request date using a route
      parameter, server respond with a JSON object containing UNIX and UTC
      Format of the date, done for
      <strong>FreeCodeCamp APIs and Microservices Course, Project 1</strong>
    </header>

    <form class="container" action="">
      <label for="stamp">Timestamp:</label> <br />
      <input
        type="text"
        id="stamp"
        name="stamp"
        placeholder="Ex: /api/timestamp/2020-1-1"
      /><br />
      <input id="submit" type="submit" value="Query Date Object" />
    </form>

    <h3>Example Usage:</h3>
    <table class="center">
      <tr>
        <th>URL</th>
        <th>OUTPUT</th>
      </tr>
      <tr>
        <td><code>GET [project url]/api/timestamp/2020-1-1</code></td>
        <td>
          <code
            >{"unix":1577836800000,"utc":"Wed, 01 Jan 2020 00:00:00 GMT"}</code
          >
        </td>
      </tr>
      <tr>
        <td><code>GET [project url]/api/timestamp/1450137600</code></td>
        <td>
          <code
            >{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code
          >
        </td>
      </tr>
      <tr>
        <td><code>GET [project url]/api/timestamp/</code></td>
        <td>
          <code
            >{"unix":1584152780307,"utc":"Sat, 14 Mar 2020 02:26:20 GMT"}</code
          >
        </td>
      </tr>
      <tr>
        <td><code>GET [project url]/api/timestamp/22-2-2</code></td>
        <td>
          <code>{"unix": null, "utc" : "Invalid Date" }</code>
        </td>
      </tr>
    </table>

    <footer>
      &copy; 2020 Mahmoud Mheisen
    </footer>
  </body>
</html>
